/* PC */
@media screen and (min-width: 992px) {
  .header__tmb {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .header {
    display: none;
  }

  .header__tmb {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 99999;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .header__container-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__menu {
    cursor: pointer;
  }

  .menu__overlay {
    position: fixed;
    inset: 0;
    background-color: #dadada;
    visibility: hidden;
    opacity: 0;
  }

  .menu__checkbox:checked ~ .menu__overlay {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    transition: all 0.35s ease-in-out;
  }

  .hero__inner-left {
    z-index: -1;
  }

  .menu__drawer {
    position: fixed;
    inset: 0 30% 0 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.35s ease-in-out;
  }

  .menu__checkbox:checked ~ .menu__drawer {
    transform: translateX(0%);
    z-index: 999;
  }

  .menu__drawer .nav__list {
    margin-top: 20px;
    flex-direction: column;
    padding: 0 40px;
  }

  .menu__drawer .header__icon-img {
    display: inline-block;
    margin-left: 10px;
  }

  /* hero */
  .hero {
    margin-top: 50px;
  }

  .hero__mb-2 {
    order: 1;
  }

  .hero__mb-1 {
    order: 2;
  }

  .hero__inner-left {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .hero__left-img {
    width: 259px;
  }

  .hero__innner-right {
    padding: 0 20px;
  }

  .hero__left-decor {
    left: -50px;
    top: 500px;
    width: 125%;
  }

  .hero__right-heading {
    width: 260px;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px; /* 119.048% */
    letter-spacing: -1.68px;
  }

  .btn {
    padding: 16px 31px;
  }

  .hero__right-desc {
    width: 318px;
  }

  .hero__right-button a {
    font-size: 1.6rem;
  }

  .hero__right-social {
    margin-top: 30px;
  }

  /* Meet my recent client */
  .client__heading {
    width: 169px;
    margin: 0 auto;
    font-size: 2.8rem;
    text-align: center;
  }

  .client__heading::before {
    width: 48px;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }

  .client__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .client__list img:hover {
    transform: scale(1.1);
  }

  /* Special */
  .special__item {
    margin-left: 0;
    padding: 0 20px;
  }

  .row .col:nth-child(2) .special__item,
  .row .col:nth-child(3) .special__item {
    display: none;
  }

  .special .people__slide {
    justify-content: center;
  }

  /* Project */
  .project {
    padding-bottom: 100px;
  }

  .project__recents {
    padding: 0 20px;
  }

  .interac__title {
    font-size: 2rem;
  }

  .project__title,
  .people__heading,
  .interac__heading {
    margin: 0 auto;
    width: 315px;
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: -1.44px;
  }

  .project__name {
    margin-top: 20px;
    padding: 0;
  }

  .project__recents .col-12:nth-child(3) .project__name {
    margin-top: 0;
  }

  .project__desc,
  .people__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 0;
    font-size: 1.6rem;
    width: 350px;
  }

  .projects__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.96px;
  }

  .projects__left {
    padding: 20px 15px;
  }

  .projects__left {
    margin-right: 0px;
  }

  .projects__desc {
    width: 176px;
    font-size: 1.4rem;
    letter-spacing: 1.42;
  }

  .projects__btn {
    font-size: 1.6rem;
  }

  .project__right-img {
    width: 122px;
  }

  .project__button {
    margin-top: 50px;
    text-align: center;
  }

  /* Interac */

  .interac__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .interac__name {
    padding: 0 30px;
    margin-left: 0;
  }

  .interac__exp {
    font-size: 3rem;
  }

  .interac__desc-exp {
    font-size: 1.6rem;
    width: 74px;
  }

  .video {
    margin-top: -20px;
  }

  /* People */
  .people__par {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 350px;
  }

  /* Question */
  .question {
    padding: 0 20px;
  }

  .question__heading {
    text-align: left;
    margin: 0 0;
    color: #080415;
    font-family: "DM Sans";
    font-size: 3.6rem;
    letter-spacing: -1.44px;
  }

  .question__number::after {
    width: 120%;
  }

  .question__title {
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.96px;
    width: 264px;
    margin-right: 52px;
  }

  .question__icon {
    position: absolute;
    top: -10px;
    right: -50px;
    transform: scale(0.8);
  }

  .question__desc {
    width: 316px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
  }

  /* Atmosphere */
  .atmostphere .people__slide {
    margin: -80px auto 0 auto;
  }

  .atmosphere__id {
    font-size: 2rem;
  }

  .atmostphere .col:nth-child(2) .atmosphere__img,
  .atmostphere .col:nth-child(3) .atmosphere__img {
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .atmosphere__img {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .atmosphere__img img {
    width: 352px;
    height: 503px;
  }

  /* Talk */
  .talk {
    margin-top: 50px;
  }

  .talk__inner {
    margin-top: -80px;
  }

  .talk__desc {
    /* width: 350px; */
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
}
