/* PC */
@media screen and (min-width: 992px) {
  .header__tmb {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .header {
    display: none;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .header__container-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__menu {
    cursor: pointer;
  }

  .menu__overlay {
    position: fixed;
    inset: 0;
    background-color: #dadada;
    visibility: hidden;
    opacity: 0;
  }

  .menu__checkbox:checked ~ .menu__overlay {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    transition: all 0.35s ease-in-out;
  }

  .hero__inner-left {
    z-index: -1;
  }

  .menu__drawer {
    position: fixed;
    inset: 0 30% 0 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.35s ease-in-out;
  }

  .menu__checkbox:checked ~ .menu__drawer {
    transform: translateX(0%);
    z-index: 999;
  }

  .menu__drawer .nav__list {
    margin-top: 20px;
    flex-direction: column;
    padding: 0 40px;
  }

  .menu__drawer .header__icon-img {
    display: inline-block;
    margin-left: 10px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
}
