*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #080415;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.btn {
  width: 170px;
  height: 62px;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  background: #5d3bee;
  padding: 16px 37px;
  transition: all 0.35s ease-in-out;
}

.demo {
  width: 100%;
  min-height: 100px;
  background-color: orange;
  margin-bottom: 20px;
  color: blue;
  font-weight: 600px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  margin-top: 20px;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 0px 90px;
}

.header__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__container-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #b8acec;
}

.header__email-img {
  width: 24px;
  height: 16px;
}

.header__mailto {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration-line: underline;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 43px;
}

.nav__link {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.25s ease-in-out;
}

.nav__link:hover {
  color: var(--primary-color);
  text-shadow: 1px 0 1px currentColor;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
}

.hero__left-img {
  position: relative;
  z-index: 2;
}

.hero__left-decor {
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 1;
  /* transform: scale(3); */
}

.hero__innner-right {
  display: flex;
  flex-direction: column;
}

.hero__right-heading {
  color: var(--primary-color);
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -3.2px;
}

.hero__right-desc {
  color: #51586a;
  width: 370px;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.hero__right-button {
  margin-top: 50px;
}

.hero__btn {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration-line: underline;
  margin-left: -20px;
}

.btn:first-child:hover {
  background-color: orange;
}

.hero .row {
  display: flex;
  align-items: center;
}

.hero__right-social {
  margin-top: 104px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__right-name {
  color: #51586a;
  font-size: 1rem;
  font-weight: 500;
}

.hero__img-social {
  width: 160px;
  height: 40px;
}

/* Clients */
.client {
  margin-top: 111px;
}

.client__heading {
  position: relative;
  color: var(--primary-color);
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.68px;
}

.client__heading::before {
  position: absolute;
  top: 25px;
  left: -100px;
  display: inline-block;
  content: "";
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
}

.client__list {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  row-gap: 35px;
}

.client__image {
  transition: all 0.35s ease-in-out;
}

.client__image:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* Special */
.special {
  margin-top: 147px;
}

.special__heading {
  color: var(--primary-color);
  font-size: 5.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -2.24px;
}

.special__desc {
  color: #51586a;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.special__item {
  margin-left: 55px;
  margin-top: 93px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.special__name {
  margin-top: 22px;
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -1.28px;
}

.special__icon-desc {
  margin-top: 15px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  width: 285px;
}

.special__img {
  width: 55px;
}

.special__image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #080415;
  border-radius: 50%;
}

.project {
  margin-top: 172px;
  background: #5d3bee;
  padding-bottom: 100px;
}

.project__title,
.project__desc {
  padding-top: 86px;
}

.project__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: #fbfaff;
  transition: all 0.35s ease-in-out;
}

.project__name:hover {
  transform: translateY(-15px);
  box-shadow: 5px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 9px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #bfb6e9;
  border: 1px solid #fff;
  border-radius: 24px;
}

.project__recents {
  margin-top: 70px;
}

.project__title {
  color: #fff;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2.24px;
}

.project__desc {
  color: #cac6c6;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  width: 370px;
}

.projects__title {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.projects__desc {
  margin-top: 10px;
  width: 220px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.projects__btn {
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  text-decoration-line: underline;
}

.projects__left {
  margin-right: 47px;
}

.project__button {
  margin-top: 80px;
}

.project__btn {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  background: #fff;
}

/* Interactive Designer */
.interac {
  margin-top: 140px;
}

.interac__inner {
  display: flex;
  flex-direction: column;
}

.interac__container-title {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

.interac__title {
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.28px;
}

.interac__heading {
  text-align: center;
  margin-top: 10px;
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2.24px;
}

.interac__desc {
  margin-top: 15px;
  color: #51586a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.interac__name {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 150px;
}

.interac__exp {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.68px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.interac__desc-exp {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.interac__video {
  margin-top: 70px;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 628px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-video {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  background-color: #fff;
  padding: 16px 28px;
}
