*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.btn {
  width: 170px;
  height: 62px;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  background: #5d3bee;
  padding: 16px 37px;
}

.demo {
  width: 100%;
  min-height: 100px;
  background-color: orange;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  margin-top: 20px;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 0px 90px;
}

.header__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__container-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #b8acec;
}

.header__email-img {
  width: 24px;
  height: 16px;
}

.header__mailto {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration-line: underline;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 43px;
}

.nav__link {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.25s ease-in-out;
}

.nav__link:hover {
  color: #080415;
  text-shadow: 1px 0 1px currentColor;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
}

.hero__left-img {
  position: relative;
  z-index: 2;
}

.hero__left-decor {
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 1;
  /* transform: scale(3); */
}

.hero__innner-right {
  display: flex;
  flex-direction: column;
}

.hero__right-heading {
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -3.2px;
}

.hero__right-desc {
  color: #51586a;
  width: 370px;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.hero__right-button {
  margin-top: 50px;
}

.hero__btn {
  background-color: transparent;
  color: #080415;
  font-weight: 700;
  text-decoration-line: underline;
  margin-left: -20px;
}

.hero .row {
  display: flex;
  align-items: center;
}

.hero__right-social {
  margin-top: 104px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__right-name {
  color: #51586a;
  font-size: 1rem;
  font-weight: 500;
}

.hero__img-social {
  width: 160px;
  height: 40px;
}

/* Clients */
.client {
  margin-top: 111px;
}

.client__heading {
  position: relative;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.68px;
}

.client__heading::before {
  position: absolute;
  top: 25px;
  left: -100px;
  display: inline-block;
  content: "";
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
}

.client__list {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  row-gap: 35px;
}
